@model FJMA.DTOs.ProductFJMADTOs.GetIdResultProductFJMADTO

@{
    ViewData["Title"] = "Delete";
}

<style>
    .form-bordered {
        border: 2px solid #000; /* Cambia el color y el grosor según tus necesidades */
        padding: 20px; /* Espaciado interno */
        border-radius: 5px; /* Esquinas redondeadas, opcional */
    }
</style>

<h1>Eliminar</h1>

<h3>¿Esta seguro de borrar este registro?</h3>

<form asp-action="Delete" class="form-bordered">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <label asp-for="NombreFJMA" class="control-label"></label>
                <input asp-for="NombreFJMA" class="form-control" />
                <span asp-validation-for="NombreFJMA" class="text-danger"></span>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label asp-for="DescripcionFJMA" class="control-label"></label>
                <input asp-for="DescripcionFJMA" class="form-control" />
                <span asp-validation-for="DescripcionFJMA" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label asp-for="PrecioFJMA" class="control-label"></label>
                <input asp-for="PrecioFJMA" class="form-control" />
                <span asp-validation-for="PrecioFJMA" class="text-danger"></span>
            </div>
        </div>
    </div>
    <br />
    <form asp-action="Delete">
        <input type="submit" value="Eliminar" class="btn btn-outline-danger" /> |
        <a asp-action="Index" class="btn btn-outline-secondary">Regresar</a>
    </form>
</form>